.SearchBar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #d8deff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.SearchForm {
  display: flex;
  align-items: center;
  gap: 8px;
}

.SearchFormInput {
  height: 48px;
  padding: 16px;
  border-radius: 24px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  transition: border-color 300ms ease-in-out;
}

.SearchFormInput:focus,
.SearchFormInput:focus-visible {
  outline: 0;
  border: 1px solid #3c3c3c;
}
